img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}
a{
    text-decoration: underline;
    color:#C7462D;
}
h1{
    margin: 50px, 20px, 10px, 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4B565;
    color: #f8f5f0;
    box-shadow: 5px 8px 5px #5A3A2A;

}
html{
    background-color:#F4B565;
    margin-top: 20px;
    margin-bottom: 40px;
    margin:30px;
}
body{
    background-color:#F2E8D7;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(70, 42, 63);
}
h2{
    text-align: left;
    margin-left: 40px;
    margin-top: 40px;;
    font-family: Arial, Helvetica, sans-serif;
    color:#3A2318;
}
h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#9C6B3D;
    font-size: 30px;
    margin: 10px;
    text-decoration: underline;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    color:#3A2318;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 1.6;
    list-style-type: square;
}